body {
  font-family: 'Linux Libertine', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.2;
  font-size: 18px;
  background: #fff;
  color: #666;
  margin: 0;
  border-top: 3px solid #f33130;
}
@media (max-width: 799px) {
  body {
    padding: 15px;
  }
}
body h1,
body h2,
body h3,
body h4 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #444;
}

body h1.title {
  font-size: 3em;
  margin-top: .8em;
  margin-bottom: .8em;
}

body h2 {
  margin-top: .7em;
  position: relative;
  font-size: 2em;
}
body h3 {
  font-size: 1.6em;
  margin-top: .6em;
}
body h4, body .org-ref-bib-h1 {
  font-size: 1.4em;
  margin-top: .5em;
  
}

body p {
  text-align: justify;
}
body a {
  text-decoration: none;
  color: #f33130;
}
body a:hover {
  color: #91351c;
  text-decoration: underline;
}
body pre {
  font-size: .85em;
  background: white;
}
body pre.src {
  overflow-y: auto !important;
}

body code {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0px 4px;
  color: #666;
  overflow-x: auto;
  font-size: 0.9em;
}
body li {
  margin-bottom: 1em;
}
body img {
  border: 1px solid #ccc;
  height: auto;
  max-width: 100%;
}

body img.no-border {
  border: none;
}
body .tag {
  background: transparent;
  font-size: 0.6em;
}
body .tag span {
  background: #1692cc;
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
}
body .pubdate {
  color: #aaa;
  margin-bottom: 20px;
  margin-top: -16px;
  text-align: right;
  border-bottom: 1px solid #e2e2e2;
}
body .pubdate p {
  display: inline;
  margin-right: 10px;
}
@media (max-width: 800px) {
  body .pubdate {
    margin-top: 0;
    text-align: left;
  }
}
body .nav-blog {
  text-align: right;
}
body .org-info-js_info-navigation {
  background: #bbb;
}
@media (min-width: 800px) {
  body #content,
  body #postamble {
    margin: 0 auto;
    max-width: 900px;
    max-width: 56.25rem;
  }
}
body #content {
  margin-top: 10px;
}
body #postamble {
  font-size: 0.8em;
  line-height: 1.8em;
  margin-top: 50px;
  text-align: center;
  color: #aaa;
  padding: 15px 0;
  border-top: 1px solid #e2e2e2;
}
body #postamble a {
  color: #e9a390;
}
@media (min-width: 800px) {
  body #preamble {
    width: 700px;
    margin: 0px auto;
    position: relative;
  }
}
body .intro {
  padding-top: 20px;
  color: #BBB;
  text-align: center;
}
body .intro h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 1em;
  margin: 0.3em;
  padding: 0;
}
body .intro p {
  color: #aaa;
  font-size: 14px !important;
  text-align: center;
}
body .intro img {
  border-radius: 100%;
  width: 100px;
}

/* Navigation */

body .nav {
  text-align: center;
  margin-top: 1em;
  border-bottom: 1px solid #e2e2e2;
  font-size: .8em;
  text-transform: uppercase;
}

body .nav ul {
  list-style: none;
  padding: 0;
}

body .nav ul li {
  color: #999;
  display: inline-block;
  margin: 0;
}

body .nav ul li a {
  display: inline-block;
  padding-right: 6px;
  border-radius: 0;
  font-weight: normal;
  color: #6a6a6a;
}

body .clearfix {
  clear: both;
}
@media (min-width: 800px) {
  body .contact {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-gap: 3em;
    -webkit-column-gap: 3em;
    column-count: 2;
    column-gap: 3em;
  }
}
.photo {
  text-align: center;
}
.photo p {
  text-align: center;
}
.photo .still {
  margin-top: 100px;
  padding: 60px 10px;
  border: 1px solid #ccc;
}
.photo .still.portrait {
  padding: 10px;
}
.photo label {
  display: block;
}

video {
    width: 100%;
    margin: auto;
}


/*
  * Math block style
  */

.DEFINITION p::before,
.definition p::before {
  content: "Definition:";
  font-weight: bold;
  font-style: normal;
}

.LEMMA p::before,
.lemma p::before {
  content: "Lemma:";
  font-weight: bold;
  font-style: normal;
}

.PROP p::before,
.prop p::before {
  content: "Property:";
  font-weight: bold;
  font-style: normal;
}

.DEFINITION p,
.definition p,
.PROP p,
.prop p,
.LEMMA p,
.lemma p {
  display: inline;
  font-style: italic;
}

.definition p i,
.DEFINITION p i{
  font-style: normal;
}

/* Time Stamps */

h2 .timestamp-wrapper,
h3 .timestamp-wrapper {
  font-size: .8em;
}
